<nav class="navbar">

  <div class="logo">
    Angular Guards
  </div>

  <ul class="nav-links">

    <li>
      <a routerLink="/home" routerLinkActive="active">
        Home
      </a>
    </li>

    <li>
      <a routerLink="/login" routerLinkActive="active">
        Login
      </a>
    </li>

    <li>
      <a routerLink="/produtos" routerLinkActive="active">
        Produtos
      </a>
    </li>

    <li>
      <a routerLink="/sobre" routerLinkActive="active">
        Sobre
      </a>
    </li>

  </ul>

</nav>
