<div class="products-container">

  <div class="header">

    <div>
      <h1>Produtos</h1>

      <p>
        Área protegida utilizando Angular Guard.
      </p>
    </div>

    <button (click)="deslogar()">
      Deslogar
    </button>

  </div>

  <div class="products-grid">

    <div class="product-card">

      <img
        [src]="'assets/not.jpg'"
        alt="Produto"
      />

      <h2>Notebook Gamer</h2>

      <p>
        Notebook de alta performance para estudos,
        desenvolvimento e jogos.
      </p>

      <span>R$ 5.499,90</span>

    </div>

    <div class="product-card">

      <img
        [src]="'assets/iphone.jpg'"
        alt="Produto"
      />

      <h2>Smartphone</h2>

      <p>
        Smartphone moderno com excelente desempenho
        e câmera de alta qualidade.
      </p>

      <span>R$ 2.899,90</span>

    </div>

    <div class="product-card">

      <img
        [src]="'assets/ASUS-ROG-Strix.jpg'"
        alt="Produto"
      />

      <h2>Monitor UltraWide</h2>

      <p>
        Monitor ideal para produtividade,
        programação e multitarefa.
      </p>

      <span>R$ 1.799,90</span>

    </div>

  </div>

</div>

